@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

:root {
  --primary-color: #45483b;
  --secondary-color: #f6f6f6;
  --title-color: #34362d;
  --text-color-light: #f6f6f6;
  --background-color: #fcf9f3;
  --font-size: 16px;
  
  --background: 41 33% 97%;
  --foreground: 79 11% 19%;
  
  --card: 0 0% 100%;
  --card-foreground: 79 11% 19%;
  
  --popover: 0 0% 100%;
  --popover-foreground: 79 11% 19%;
  
  --primary: 79 11% 25%;
  --primary-foreground: 0 0% 96%;
  
  --secondary: 0 0% 96%;
  --secondary-foreground: 79 11% 19%;
  
  --muted: 240 5% 93%;
  --muted-foreground: 240 4% 46%;
  
  --accent: 220 13% 91%;
  --accent-foreground: 79 11% 19%;
  
  --destructive: 350 85% 47%;
  --destructive-foreground: 0 0% 100%;
  
  --border: 0 0% 0% / 0.1;
  --input: 0 0% 95%;
  --ring: 0 0% 71%;
  
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  
  --radius: 0.5rem;
  
  --chart-1: #f59e0b;
  --chart-2: #3b82f6;
  --chart-3: #10b981;
  --chart-4: #f97316;
  --chart-5: #8b5cf6;
  
  --sidebar: #fafafa;
  --sidebar-foreground: #171717;
  --sidebar-primary: var(--primary-color);
  --sidebar-primary-foreground: var(--text-color-light);
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #262626;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #b5b5b5;
}

.dark {
  --background: 0 0% 9%;
  --foreground: 0 0% 98%;
  
  --card: 0 0% 9%;
  --card-foreground: 0 0% 98%;
  
  --popover: 0 0% 9%;
  --popover-foreground: 0 0% 98%;
  
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 15%;
  
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 98%;
  
  --muted: 0 0% 25%;
  --muted-foreground: 0 0% 64%;
  
  --accent: 0 0% 25%;
  --accent-foreground: 0 0% 98%;
  
  --destructive: 0 72% 51%;
  --destructive-foreground: 0 86% 81%;
  
  --border: 0 0% 25%;
  --input: 0 0% 25%;
  --ring: 0 0% 45%;
  
  --chart-1: #818cf8;
  --chart-2: #6ee7b7;
  --chart-3: #fbbf24;
  --chart-4: #c084fc;
  --chart-5: #fb7185;
  
  --sidebar: #262626;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #818cf8;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #404040;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #404040;
  --sidebar-ring: #737373;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}